body {
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  line-height: 2;
  background-color: #000000;
  color: #FFFFFF;
}

ul {
    list-style-type: circle;
}

video {
    width: 60%;
    height: auto;
}

.top {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.Name {
  position: absolute;
  top: 4%;
  width: 100%;
  font-family: 'Sacramento', sans-serif;
  font-size: 5vw;
  color: #000000;
}

.Title {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  font-size: 3.5vw;
  top: 15%;
  left: 0;
  width: 100%;
  color: #000000;
}

.belize {
  width: 100%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #44CCCF;
  margin-top: 0%;
  margin-bottom: 0%;
}

.opening-description {
  width: 30%;
  margin: auto;
  color: #FFFFFF;
}

hr {
  clear: both;
  margin-top: 5%;
  margin-bottom: 5%;
  border-color: grey;
  width: 65%;
}

.profile_picture {
  height: 30%;
  width: 30%;
}

.portfolio h2 {
  font-size: 9.5vw;
  color: #86dcaa;
}

/* Intro */
.project-intro {
    display: flex;
    align-items: left;
}

.project-image {
    width: 40%;
    height: auto;
    margin-left: 5%;
}

.project-title h2 {
    margin-left: 10%;
    font-size: 5vw;
    color: #f2b33d;
    white-space: nowrap; /* Prevents wrapping */
}

/* Description and gif*/
.project-description {
    display: flex;
    align-items: center;
}

.project-text {
    margin-left: 5%;
    font-size: 1vw;
    text-align: left;
    width: 80%;
    display: table-cell;
}

.orbits-gif {
    width: 100%;
}

/* Video */
.solar-system-video {
    margin-top: 2%;
}

.solar-system-video h3 {
    font-size: 3vw;
    margin-bottom: 1%;
}

.link-container {
    margin-top: 1%;
}

.link {
    font-size: 3vw;
    color: #0092ff;
    text-decoration: none;
}

/* Ray tracer*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 0%;
}

.ray-tracer-image {
    width: 35%;
    height: auto;
    margin-left: 0%;
}

.project-title-ray-tracer h2 {
    margin-left: -90%;
    font-size: 5vw;
    color: #f2b33d;
    white-space: nowrap; /* Prevents wrapping */
}

.final-ray-tracer-image {
    width: 60%;
    height: auto;
    margin-left: 0%;
}

.squibblets-final-image {
    width: 60%;
    height: auto;
    margin-left: 0%;
}

figure {
  width: 100%;
  color: #AAAAAA;
}

.contact-me h2 {
    font-size: 6vw;
    margin-bottom: 0%;
}

button {
  border: none;
  margin-top: 2%;
  height: 40px;
  width: 160px;
  background-color: #11999E;
  color: white;
  font-size: 100%;
  border-radius: 8px;
  background-image: linear-gradient(#11999E, #B6EAF2);
}

.bottom-container {
  margin-top: 5%;
  padding: 50px 0 30px;
  background-color: #66BFBF;
}

.footer-link {
  color: #000000;
  margin: 5% 5%;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}
